body {
    background-color: rgb(50, 26, 105);
    height: 99%;
    width: 99%;
    display: flex;
}

/* The div which has the controls to the game and how to play it. */
#controls {
    background-color: #eee;
    border: 3px solid black;
    border-radius: 1rem;
    height: 10%;
    width: 10%;
    padding: 0.3rem;
    margin-left: auto;
    text-align: center;
}

/* The title text for the how to section. */
#how-to {
    font-size: 1.25rem;
    font-weight: bold;
}

/* The container div of the game. */
#game-container {
    padding: 0.5rem;
    background-color: #eee;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 1rem;
}

#game-title {
    text-align: center;
}

/* The div where the game itself actually is. */
#game {
    text-align: center;
    font-size: 18px;
    
}

/*Button Styling */
button {
    border: 2px solid black;
    border-radius: 1rem;
    font-weight: bold;
}